<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.kspstore.start" version="1.0.0">
  <name>שם: KSP - מחשבים וסלולר</name>
  <description>תיאור: אפליקציית KSP מחשבים וסלולר עכשיו קרובה אליך יותר מתמיד. באפליקצית KSP תמצאו מוצרים מעולים במחירים מדהימים המאפיינים את רשת קי.אס.פי. מחשבים.

    קטלוג מוצרים קל ונוח לאיתור, קופונים ומבצעים ייחודים ובמחירים מצויינים הניתנים רק באמצעות האפליקציה

    יותר מ5,000 מוצרים ממתינים לכם באפליקציה בעשרות קטגוריות שונות מחשבים ניידים, טאבלטים, טלפונים סלולרים, מחשבים נייחים, מוצרי חשמל וכלי עבודה ועוד ועוד.

    עם האפליקציה שלנו תוכלו:

    • לצפות במפרטים מלאים ולראות את המחירים על כל המוצרים אותם אנחנו מוכרים.

    • סינון קל ומהיר לאיתור מוצרים המתאים לצרכים שלכם.

    • איתור חנות מקומית שלנו באיזור מגורך, דרכי התקשרות והגעה וניווט לסניף הקרוב.

    • לקבל מבצעים והטבות ומאגר קופונים מתחדש רק לבעלי האפליקציה.</description>
  <author href="http://mediasoft.co.il" email="info@mediasoft.co.il">Mediasoft</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
  <gap:plugin name="cordova-plugin-email-composer" version="0.8.3" source="npm" />
  <icon src="icon.png"/>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <plugin name="nl.x-services.plugins.socialsharing" version="5"/>


  <!-- Allow links to example.com -->
  <allow-navigation href="*" />
  <allow-navigation href="http://nadiros.co.il/*" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>