/**Muxtor**/

body{
    background: #f8f8f8;
    direction: rtl;
    padding-top:43px;
    padding-bottom: 75px;
}
.preloader{
    display: none;
    position: fixed;
    top: 43px;
    bottom: 74px;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.8);
    z-index: 2;
    text-align: center;
    vertical-align: middle;
}
.preloader .preloader-img{
    position: absolute;
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
}
.preloader .preloader-img img{
    margin-top: -100px;
    width: 200px;
}
.title{
    background: #03345f;
    height: 60px;
    margin-top: 5px;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
}
.head-title{
    /*background: #fff url('../img/title-arrow.png') 5px center no-repeat;*/
    padding: 10px 10px 10px 0px;
}
.head-title .product-title{
    line-height: 34px;
    margin-bottom: 0!important;
    text-align: center!important;
}
.top{
    background-color: #f1f1f1;
    padding: 8px 5px;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}
.top .search{
    position: relative;
}
.top .search-cnt{
    margin-right: 60px;
    margin-left: 40px;
}
.top .search .search-txt{
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    box-shadow: inset #eeeeee 1px 0px 1px 3px,#eee 0px 1px 2px 1px;
    height: 27px;
    display: block;
    padding: 0 24px;
    border-radius: 4px;
    width: 100%;
}
.top .search .search-btn{
    background: url("../img/lupa.png") center center no-repeat;
    position: absolute;
    border: none;
    left: 0;
    top: 0;
    height: 27px;
    width: 25px;
}
.top .search-logo{
    background: url("../img/logo-search.png") center center no-repeat;
    height: 27px;
    width: 57px;
    float: right;
}
.cat-menu .navbar-toggle {
    border-color: #ddd;
    display: block!Important;
    padding: 5px 5px 6px 5px!Important;
    margin: 0!important;
}
.cat-menu .navbar-toggle .icon-bar {
    background-color: #03345f;
}
.bottom{
    background: #f1f1f1;
    height: 74px;
    border-bottom: #e5e5e5 solid 1px;
    border-top: #fefefe solid 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px 0;
    z-index: 10;
}
.menu-item{
    float: right;
    width: 20%;
    text-align: center;
}
.menu-item a{
    color: #6d6d6d;
    font-size: 16px;
}
.menu-item .mi-img{
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 40px;
}
.menu-item a:hover .mi-img,
.menu-item a.current .mi-img,
.menu-item a.active .mi-img{
    background-position: center bottom;
}
.menu-item .mi-home{
    background-image: url("../img/home.png");
    height: 37px;
    margin-top: 1px;
    margin-bottom: 2px;
}
.menu-item .mi-bonus{
    background-image: url("../img/bonus.png");
}
.menu-item .mi-cart{
    background-image: url("../img/cbtn.png");
    height: 39px;
}
.menu-item .mi-metka{
    background-image: url("../img/metka.png");
    height: 39px;
    margin-bottom: 1px;
}
.menu-item .mi-message{
    background-image: url("../img/message.png");
    height: 29px;
    margin-top: 5px;
    margin-bottom: 6px;
}
.intro{
    background: url("../img/intro.png") no-repeat center center;
    position: absolute;
    top: 30px;
    bottom: 70px;
    width: 100%;
    z-index: -1;
}
/****/
.categories{
    margin-top: 10px;
    margin-bottom: 10px;
}
.categories .cat{
     /*position: relative;*/
    float: left;
    width: 50%;
    margin: 10px 0;
}
.categories .cat a{
    box-shadow: #767676 1px 2px 5px 2px;
    position: relative;
    display: block;
    color: #ffffff;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 5px;
}
.categories .cat .c-title-box{
    background: rgba(11,11,122,.80);
    position: absolute;
    width: 100%;
    height: 50px;
}
.categories .cat .c-title-box .c-title{
    margin-right: 50px;
    text-align: left;
    line-height: 24px;
    padding-left: 4px;
}
.categories .cat .c-title-box .c-title-head{
    font-size: 24px;
}
.categories .cat .c-title-box .c-title-sub{
    font-size: 18px;
}
.categories .cat .c-title-box .c-ico{
    background-position: left center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    right: 0; top: 0;
    position: absolute;
}

.categories .cat .c-img img{
    width: 100%;
}
.categories .cat .c-computer{
    background-image: url('../images/cat/ico-computer.png');
}
.categories .cat .c-notebook{
    background-image: url('../images/cat/ico-notebook.png');
}
.categories .cat .c-mobile{
    background-image: url('../images/cat/ico-mobile.png');
    background-position: center center!important;
}
.categories .cat .c-game{
    background-image: url('../images/cat/ico-game.png');
}
.categories .cat .c-printer{
    background-image: url('../images/cat/ico-printer.png');
}
.categories .cat .c-planshet{
    background-image: url('../images/cat/ico-planshet.png');
}
.categories .cat .c-network{
    background-image: url('../images/cat/ico-network.png');
}
.categories .cat .c-hardware{
    background-image: url('../images/cat/ico-hardware.png');
}
.categories .cat .c-motherboard{
    background-image: url('../images/cat/ico-motherboard.png');
}
.categories .cat .c-cabel{
    background-image: url('../images/cat/ico-cabel.png');
}
.categories .cat .c-sound{
    background-image: url('../images/cat/ico-sound.png');
}
.categories .cat .c-camera{
    background-image: url('../images/cat/ico-camera.png');
}
.action-button{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}
.action-button .cf-inputs-1{
    padding-right: 5px;
    float: left;
    width: 30%;
}
.action-button .cf-inputs-2{
    padding-left: 5px;
    float: left;
    width: 30%;
}
.action-button input{
    border-radius: 4px;
    background: #dff1fc;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: block;
    width: 100%;
    padding: 0 10px;
}
.action-button select{
    border-radius: 4px;
    background: #dff1fc;
    height: 50px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: block;
    width: 100%;
    padding: 0 10px;
}
.action-button button{
    background: #9eb13d;
    color: #ffffff;
    padding: 10px 30px!important;
    margin-left: 10px!important;
    font-size: 18px;
    border-radius: 0!important;
    width: 130px;
}
.action-button a{
    font-size: 18px; 
}
/****/
.products{
    padding-bottom: 20px;
    margin: 0 auto;
}
.products .p-title{
    background: #03345f;
    height: 60px;
    margin-top: 5px;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
}
.products .p-items{
    padding: 5px;
}
.products .p-items .p-item{
    padding: 0 5px;
    float: left;
    width: 50%;
    margin: 10px 0;
}
.products .p-items .p-item-inner{
    border: #e5e5e5 solid 1px;
    border-radius: 5px;
    text-align: center;
    background: #ffffff;
}
.products .p-items a{
    text-decoration: none!important;
    font-size: 20px;
}
.products .p-items .p-img{
    overflow: hidden;
    margin: 5px;
    border-bottom: #f3f3f3 solid 1px;
    height: 170px;
    text-align: center;
}
.products .p-items .p-img img{
    max-height: 165px;
}
.products .p-items .p-desc{
    color: #767676;
    height: 70px;
    overflow: hidden;
}
.products .p-items .p-name{
    color: #767676;
}
.products .p-items .p-price{
    color: #5082e9;
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
    font-size: 24px;
}
.products .p-items .p-buybtn{
    text-align: left;
    margin-top: -40px;
}
.products .p-items .p-buybtn img {
    height: 40px;
}

.titlebox {
    margin: 3px 0;
    background: #47A3DA;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    height: 35px;
}
table .f_td {
    padding: 3px 6px;
    background-color: #F3F3F3;
    width: 15%;
}
table .s_td {
    padding: 3px 6px;
}
.s_td {
    text-align: right;
    direction: ltr;
}

/****/
.feedback{}
.feedback form>div{
    margin: 20px 10px;
}
.feedback .f-input{
    background: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: #d3d3d3 2px 0px 3px 1px;
    height: 69px;
    width: 100%;
    font-size: 22px;
    padding: 0 10px;
}
.feedback textarea.f-input{
    height: 250px;
}
.feedback .f-submit{
    background: #d57072;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #cb4d50 13px solid;
    border-radius: 20px;
    display: block;
    height: 38px;
    width: 100%;
    font-size: 22px;
    color: #ffffff;
    margin: auto;
    width: 192px;
}
/***/
.filial{
    font-size: 21px;
    text-align: center;
}
.filial .f-buttons{
    margin: 20px 0;
}
.filial .f-buttons .dostavka{
    float: left;
    width: 50%;
}
.filial .f-buttons .call{
    float: right;
    width: 50%;
}
.filial .f-wrap{
    position: relative;
    margin: auto;
    width: 150px;
}
.filial .f-buttons button{
    background: #d57072;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #cb4d50 13px solid;
    border-radius: 20px;
    display: block;
    height: 38px;
    font-size: 22px;
    color: #ffffff;
    width: 100%;
}
.filial .f-buttons button a{
    font-size: 22px;
    color: #ffffff!important;
    text-decoration: none!important;
}
.filial .f-buttons .ico-dostavka{
    background: url("../img/dostavka.png") center center no-repeat;
    height: 70px;
    width: 60px;
    position: absolute;
    top: -50%;
    right: -30px;
}
.filial .f-buttons .ico-call{
    background: url("../img/call.png") center center no-repeat;
    height: 70px;
    width: 60px;
    position: absolute;
    top: -50%;
    right: -30px;
}
/****/
.slider{
    margin: 10px 0px;
}
.carousel-indicators{
    display: none;
}
.carousel-control.left,
.carousel-control.right
{
    background: none;
}
.carousel-control{
    width: 22px;
}
.carousel-control.left{
    background: url("../img/slide-prev.png") no-repeat center center;
    margin-left: 5px;
}
.carousel-control.right{
    background: url("../img/slide-next.png") no-repeat center center;
    margin-right: 5px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    margin: auto;
    width: 100%;
}
.slider .slide-texts{
    font-size: 22px;
}
.red{
    color: #03345f;
}
.blue{
    color: #0176bb;
}
.cats-filters{/*background: #9eb13d;*/ display: none;}
.cats-filters h5, .cats-sorts h5, #sort label{cursor:pointer;margin-top: 0; padding-top: 5px;} .cats-filters div{ padding: 0 10px;} .cats-filters a, .cats-filters a:hover{ /*color: #ffffff!important*/}
.cf_items a, .cf_items label{
    width: 49%;
    display: block;
    float: left;
}
.cf_items:after{
    content: '';
    clear: both;
}
.lim {
    float: left;
    margin: -2px 0;
    max-width: 21px;
}
.cats-filters h5, .cats-sorts h5{
    background: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    margin: 2px 0;
    border-bottom: 1px solid #D2D2D2;
    display: block;
}
#sort label{
    background: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    margin: 2px 0;
    border-bottom: 1px solid #D2D2D2;
    display: block;
}
#sort label input,
#filter label input{
    display: none;
}
#sort .checked{
    background: #9EB13D url("../img/blue-v.png") no-repeat 20px center!important;
    padding-left: 50px!important;
}
#filter label {
    line-height: 28px;
    cursor: pointer;
    margin-left: 1%;
    padding-right: 5px;
}
#filter .checked{
    background: #9EB13D url("../img/blue-v.png") no-repeat 10px center!important;
    padding-left: 50px!important;
}
/*.products .p-items.searching .p-item {
    float: none!important;
    width: 100%!important;
}*/
.products .p-items.searching .p-desc {
    /*height: auto!important;
    overflow: visible;*/
}
.products .p-items.searching .p-item a{
    text-align: right!important;
    padding: 15px;
    display: block;
}

/*****/
.table-list table{
    width: 100%;
    text-align: center;
    border: none;
}
.table-list table thead{
    font-size: 26px;
    font-weight: bold;
    background: #f8f8f8;
}
.table-list table thead td{
    height: 62px;
}
.table-list table tbody{
    font-size: 18px;
    color: #0176bb;
    background: #ffffff;
}
.table-list table tbody tr{
    border-top: #f2f2f2 solid 1px;
    border-bottom: #f5f5f5 solid 1px;
}
.table-list table tbody td{
    height: 62px;
}
.table-list table tbody td a{
    background: #9eb13d;
    border-radius: 10px;
    color: #ffffff;
    padding: 2px 20px;
}


.alert{
    position: fixed;
    left: 50px;
    right: 50px;
    top: 100px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
    z-index: 2;
    direction: ltr;
    text-align: center;
}

/**Cart*/
.cart {
    font-family: "Tahoma", Helvetica, Arial;
}
.deleteItem{
    top: -16px;
    right: -16px;
    position: absolute;
    font-size: 24px;
    color: #cc0000;
}
.cart .cart-title{
    height: 62px;
    line-height: 62px;
    font-size: 30px;
    color: #828586;
    text-align: center;
}
.cart table{
    border-top: #e0d9db solid 2px;
    width: 100%;
}
.cart table tr{
    background: #f7f7f7;
    border-bottom: #e0d9db solid 2px;
}
.cart table tr td{
    height: 140px;
}
.cart .cart-dragger{
    width: 20px;
    text-align: center;
    cursor: pointer;
}
.cart .cart-dragger span{
    background: #e7dede;
    border: #dedede solid 2px;
    height: 40px;
    display: inline-block;
    margin-right: 3px;
}
.cart .cart-img{
    background: #ffffff;
    border: #e7e7e7 solid 3px;
    border-radius: 3px;
    height: 98px;
    width: 98px;
    position: relative;
    margin-right: 10px;
    margin-left: 3px;
    vertical-align: middle;
    text-align: center;
}
.cart .cart-img img{
    width: 93px;
}
.cart .cart-name{
    color: #828586;

    font-size: 23px;
}
.cart .cart-price{
    color: #03345f;
    font-size: 26px;
    font-weight: bold;
}
.cart .cart-quantity{
    color: #828586;
    font-size: 23px;
    width: 120px;
    text-align: center;
}
.cart .qty-buttons button{
    background: #cbc9c9;
    display: block;
    height: 40px;
    width: 40px;
    color: #ffffff;
    text-align: center;
    border: none;
}
.cart .qty-buttons input{
    background: #ffffff;
    display: block;
    height: 40px;
    width: 40px;
    color: #6b6363;
    text-align: center;
    border: none;
}
.cart .qty-buttons button.qty-plus{
    float: left;
}
.cart .qty-buttons button.qty-minus{
    float: right;
}
.cart .cart-summ{
    color: #03345f;
    font-size: 38px;
    font-weight: bold;
    padding: 0 20px;
}
.cart-form{

}
.cart-form .cf-title{
    background: #03345f;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.cart-form form{
    margin: 10px;
}
.cart-form .cf-row{
    margin-bottom: 10px;
    clear: both;
}
.cart-form .cf-inputs-1{
    padding-right: 5px;
    float: left;
    width: 50%;
}
.cart-form .cf-inputs-2{
    padding-left: 5px;
    float: left;
    width: 50%;
}
.cart-form input{
    border-radius: 4px;
    background: #dff1fc;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: block;
    width: 100%;
    padding: 0 10px;
}
.cart-form select{
    border-radius: 4px;
    background: #dff1fc;
    height: 50px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: block;
    width: 100%;
    padding: 0 10px;
}
.cart-form .cf-submit input{
    background: #03345f;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: none;
    display: block;
    width: 100%;
}

/****/
.product{
    background: #ffffff;
    font-family: "Tahoma", Helvetica, Arial;
}
.product .prices{
    background: #03345f;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}
.product .product-price{
    padding-left: 10px;
    float: left;
    font-size: 19px;
    color: #ffffff;
    width: 50%;
}
.product .big-price{
    font-size: 26px;
    line-height: 26px;
}
.product .product-some{
    font-size: 19px;
    color: #ffffff;
    width: 40%;
    padding-right: 10px;
}
.yellow{
    color: #ffe200;
}
.product .product-title{
     color: #1f6797;
     font-size: 24px;
    margin-bottom: 10px;
}
.product .product-desc{
    font-size: 16px;
}
.product .product-title,
.product .product-desc,
.product .product-adds{
    padding: 0 10px;
}
.product .product-adds{
    text-align: left;
}
.cartbutton a{
    line-height: 60px;
    color: #fff;
    text-decoration: none!important;
}
.cartbutton a img{
    float: right;
}
@media screen and (max-width: 1024px) {
    /*Index*/
    .products .p-items .p-desc{
        color: #767676;
        height: 90px;
        overflow: hidden;
    }
}
@media screen and (max-width: 900px) {
    /*Index*/
    .products .p-items .p-desc{
        color: #767676;
        height: 90px;
        overflow: hidden;
    }
}
@media screen and (max-width: 720px) {
    /*Index*/
    .products .p-items .p-desc{
        color: #767676;
        height: 90px;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    /*Index*/
    .categories .cat .c-title-box .c-title-head {
        font-size: 20px;
    }
    .categories .cat .c-title-box .c-title-sub {
        font-size: 16px;
    }
    .products .p-items a{
        font-size: 14px;
    }
    .products .p-items .p-desc{
        color: #767676;
        height: 90px;
        overflow: hidden;
    }
}
@media screen and (max-width: 520px) {
    /*Index*/
    .categories .cat .c-title-box .c-title-head {
        font-size: 18px;
    }
    .categories .cat .c-title-box .c-title-sub {
        font-size: 14px;
    }
    .categories .cat .c-title-box .c-ico {
        height: 50px;
        width: 40px;
        background-size: contain;
        right: 2px;
    }
    .categories .cat .c-title-box .c-title {
        margin-right: 30px;
        line-height: 16px;
        padding-top: 7px;
    }
    .categories .cat .c-title-box {
        height: 50px;
    }
    .products .p-items .p-desc{
        color: #767676;
        height: 90px;
        overflow: hidden;
    }
    /*Cart*/
    .cart .cart-img {
        height: 90px;
        width: 90px;
    }
    .cart .cart-img img{
        width: 80px;
    }
    .cart .cart-name {
        font-size: 18px;
        padding-right: 5px;
    }
    .cart .cart-name .cart-price{
        font-size: 18px;
    }
    /*Product*/
    .product .product-price {
        font-size: 14px;
    }
    .product .big-price{
        font-size: 18px;
        line-height: 18px;
    }
    .product .product-some {
        font-size: 14px;
    }
    .products .p-items .p-buybtn img {
        height: auto;
        width: 100%;
    }
    .products .p-items .p-buybtn {
        text-align: left;
        margin-top: -25px;
        padding-right: 50%;
    }
    .products .p-items .p-price {
        text-align: right;
        padding-right: 5px;
        font-size: 18px;
    }
    .cartbutton a img{
        width: 45px;
    }
    .cartbutton a{
        line-height: 45px;
    }

    .filial .f-wrap{
        margin: 0;
        margin-right: auto;
    }
}
@media screen and (max-width: 460px) {
    /*Index*/
    .categories .cat .c-title-box .c-title-head {
        font-size: 18px;
    }
    .categories .cat .c-title-box .c-title-sub {
        font-size: 14px;
    }
    .categories .cat .c-title-box .c-ico {
        height: 45px;
        width: 40px;
        background-size: contain;
        right: 2px;
    }
    .categories .cat .c-title-box .c-title {
        margin-right: 30px;
        line-height: 16px;
        padding-top: 7px;
    }
    .categories .cat .c-title-box {
        height: 45px;
    }
    .products .p-items .p-item{
        min-height: 290px;
    }
    .products .p-items .p-desc{
        color: #767676;
        height: 90px;
        overflow: hidden;
    }
    /*Cart*/
    .cart .cart-img {
        height: 80px;
        width: 80px;
    }
    .cart .cart-img img{
        width: 70px;
    }
    .cart .cart-name {
        font-size: 14px;
    }
    .cart .cart-name .cart-price{
        font-size: 14px;
    }
    .cart .cart-quantity {
        font-size: 18px;
        width: 90px;
    }
    .cart .qty-buttons button {
        height: 30px;
        width: 30px;
    }
    .cart .qty-buttons input {
        height: 30px;
        width: 30px;
    }
    .cart .cart-summ {
        font-size: 24px;
        padding: 0 10px;
    }
}
@media screen and (max-width: 420px) {
    /*Index*/
    .categories .cat .c-title-box .c-title-head {
        font-size: 16px;
    }
    .categories .cat .c-title-box .c-title-sub {
        font-size: 12px;
    }
    .categories .cat .c-title-box .c-ico {
        height: 45px;
        width: 40px;
        background-size: contain;
        right: 2px;
    }
    .categories .cat .c-title-box .c-title {
        margin-right: 30px;
        line-height: 16px;
        padding-top: 7px;
    }
    .categories .cat .c-title-box {
        height: 45px;
    }
    .products .p-items .p-name {
        font-size: 12px;
    }
    /*Cart*/
    .cart .cart-img {
        height: 70px;
        width: 70px;
    }
    .cart .cart-img img{
        width: 60px;
    }
    .cart .cart-name {
        font-size: 12px;
    }
    .cart .cart-name .cart-price{
        font-size: 12px;
    }
    .cart .cart-quantity {
        font-size: 14px;
        width: 90px;
    }
    .cart .qty-buttons button {
        height: 30px;
        width: 30px;
    }
    .cart .qty-buttons input {
        height: 30px;
        width: 30px;
    }
    .cart .cart-summ {
        font-size: 24px;
        padding: 0 10px;
    }
    .cartbutton a{
        font-size: 12px;
    }
    .cartbutton a img{
        width: 45px;
    }
}
@media screen and (max-width: 400px) {
    /*Index*/
    .categories .cat .c-title-box .c-title-head {
        font-size: 14px;
    }
    .categories .cat .c-title-box .c-title-sub {
        font-size: 12px;
    }
    .categories .cat .c-title-box .c-ico {
        height: 45px;
        width: 30px;
        background-size: contain;
        right: 2px;
    }
    .categories .cat .c-title-box .c-title {
        margin-right: 25px;
        line-height: 14px;
        padding-top: 5px;
    }
    .categories .cat .c-title-box {
        height: 45px;
    }
    .products .p-items .p-name {
        font-size: 11px;
    }
    /*Cart*/
    .cart .cart-img {
        height: 70px;
        width: 70px;
    }
    .cart .cart-img img{
        width: 70px;
    }
    .cart .cart-name {
        font-size: 12px;
    }
    .cart .cart-name .cart-price{
        font-size: 12px;
    }
    .cart .cart-quantity {
        font-size: 14px;
        width: 90px;
    }
    .cart .qty-buttons button {
        height: 30px;
        width: 30px;
    }
    .cart .qty-buttons input {
        height: 30px;
        width: 30px;
    }
    .cart .cart-summ {
        font-size: 24px;
        padding: 0 10px;
    }
    .cartbutton a{
        font-size: 11px;
    }
    .filial .f-wrap{
        margin: auto;
        margin-right: auto;
    }
    .filial .f-buttons .dostavka {
        float: none;
        width: 60%;
        margin: 25px auto;
    }
    .filial .f-buttons .call {
        float: none;
        width: 60%;
        margin: 25px auto;
    }
}
@media screen and (max-width: 320px) {
    /*Index*/
    .categories .cat .c-title-box .c-title-head {
        font-size: 12px;
    }
    .categories .cat .c-title-box .c-title-sub {
        font-size: 10px;
    }
    .categories .cat .c-title-box .c-ico {
        height: 40px;
        width: 25px;
        background-size: contain;
        right: 2px;
    }
    .categories .cat .c-title-box .c-title {
        margin-right: 14px;
        line-height: 12px;
        padding-top: 5px;
    }
    .categories .cat .c-title-box {
        height: 40px;
    }
    .products .p-items .p-name {
        font-size: 10px;
    }
    /*Cart*/
    .cart .cart-img {
        height: 60px;
        width: 60px;
    }
    .cart .cart-img img{
        width: 60px;
    }
    .cart .cart-name {
        font-size: 12px;
    }
    .cart .cart-name .cart-price{
        font-size: 12px;
    }
    .cart .cart-quantity {
        font-size: 14px;
        width: 70px;
    }
    .cart .qty-buttons button {
        height: 20px;
        width: 20px;
    }
    .cart .qty-buttons input {
        height: 20px;
        width: 30px;
    }
    .cart .cart-summ {
        font-size: 20px;
        padding: 0 10px;
    }
    /*.products .p-items .p-item {
        float: none;
        width: 100%;
    }*/
    .cartbutton a{
        font-size: 10px;
        line-height: 35px;
    }
    .cartbutton a img{
        width: 30px;
    }
}

.bg-red {
    background-color: #03345f;
    color: #fff;
    margin-left: 50px;
}